# data

In [1]:
# 서울시 자치구 목적별 CCTV 설치 현황(2020)

import pandas as pd
cctv = pd.read_csv('서울시 자치구 목적별 CCTV 설치 현황.csv', encoding='cp949')
cctv = cctv[cctv.columns[[0,5]]]
cctv = cctv.rename(columns={'기관명':'자치구', '쓰레기 무단투기':'cctv_쓰레기'})
cctv = cctv.dropna(axis=0)
cctv = cctv.astype({'cctv_쓰레기':int})  # float64
cctv

     자치구  cctv_쓰레기
0    강남구         0
1    강동구        27
2    강북구         0
3    강서구        28
4    관악구       130
5    광진구        72
6    구로구        29
7    금천구        32
8    노원구       126
9    도봉구        61
10  동대문구        19
11   동작구         0
12   마포구         0
13  서대문구         0
14   서초구         0
15   성동구        77
16   성북구       106
17   송파구        19
18   양천구         8
19  영등포구        49
20   용산구         0
21   은평구         3
22   종로구         0
23    중구        60
24   중랑구         9

In [56]:
# 위는 2020년 자료이고, 아래는 2011~2018년도 자료라서 어떻게 합칠지..?

In [14]:
# 서울시 생활안전도 통계(2011~2018)
# 2018 데이터 없음.

import pandas as pd
clean = pd.read_csv('서울시 생활안전도 통계.txt', sep='\t')
clean = clean[clean.columns[[0,1,5,9,13]]]
mask_1 = clean['대분류'].isin(['대분류', '서울시', '성별', '연령별', '학력별', '주택형태', '입주형태', '가구원수', '소득',
       '지역대분류'])
clean = clean[~mask_1]
mask_2 = clean['기간'].isin(['2018'])
clean = clean[~mask_2]
mask_3 = clean['대기오염'].isin(['…'])
clean = clean[~mask_3].reset_index(drop=True)
clean = clean.rename(columns={'대분류':'자치구', '길거리의 쓰레기방치':'길거리_쓰레기방치'})
clean = clean.astype({'대기오염':float, '수질오염':float, '길거리_쓰레기방치':float})
clean

       기간  자치구  대기오염  수질오염 길거리_쓰레기방치
0    2011  종로구  22.2  29.3      45.2
1    2011   중구  24.8  20.4      40.9
2    2011  용산구  34.5  26.3      36.7
3    2011  성동구  32.5  29.9      41.2
4    2011  광진구  25.4  12.9      32.6
..    ...  ...   ...   ...       ...
145  2017  관악구  30.6    28      38.8
146  2017  서초구  40.9    29      34.9
147  2017  강남구  43.5  29.2      36.9
148  2017  송파구  40.9    36      40.5
149  2017  강동구  26.4  18.7      31.7

[150 rows x 5 columns]

In [15]:
clean.dtypes

기간           object
자치구          object
대기오염         object
수질오염         object
길거리_쓰레기방치    object
dtype: object

In [6]:
clean['대기오염'].values

array(['22.2', '24.8', '34.5', '32.5', '25.4', '34.2', '31.3', '48.6',
       '22.3', '15.8', '21.5', '15.2', '20.5', '34.3', '31.7', '29.9',
       '32.6', '24.8', '30.5', '23.5', '21', '29.5', '31.6', '25.7',
       '28.6', '45.3', '9.7', '37.7', '47.6', '41.7', '26.9', '38.9',
       '29.2', '32.8', '21.8', '15.1', '16.2', '19.5', '28.2', '10.4',
       '19.5', '37.9', '27.7', '46.4', '21.4', '36.3', '18.3', '19.9',
       '24.9', '17.9', '27.3', '24.3', '28.6', '30.5', '24.5', '40.1',
       '29.9', '25.3', '20.9', '21.8', '27.3', '25', '23.1', '19.2', '18',
       '27.6', '40.6', '28.4', '26.1', '28.2', '20.7', '20.8', '30.9',
       '25.5', '26.4', '36.5', '40.9', '28.7', '29.3', '19.7', '36.5',
       '30.5', '38.5', '27.5', '22.9', '32.9', '27.3', '31', '42.6', '20',
       '35.6', '31.5', '34.2', '32.7', '26.1', '34.6', '38.7', '38.6',
       '34.5', '45.9', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…',
       '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…',
       '…', '…', '41.2', '36', '29.3', '27.4', '26.4', '28.9', '27',
       '38.4', '30.6', '28.3', '30.3', '28', '28.5', '33.6', '35.3',
       '33.4', '32.6', '30.8', '35.2', '31.6', '33.4', '40.1', '40.5',
       '38.1', '40.5', '36.6', '35.8', '42', '43.1', '34.1', '33.2',
       '38.8', '44.5', '31.8', '29', '29.5', '30.9', '34.7', '34.5',
       '40.8', '28.3', '26.8', '36', '35.8', '23.9', '30.6', '40.9',
       '43.5', '40.9', '26.4'], dtype=object)

In [14]:
clean['수질오염'].values

array(['29.3', '20.4', '26.3', '29.9', '12.9', '31.3', '44.9', '36.4',
       '12.6', '23.8', '13.1', '13.3', '23.5', '19.2', '16.8', '14.1',
       '26.8', '16.2', '31.2', '9.3', '12.4', '14.6', '23.9', '19.9',
       '20.7', '42.2', '26.2', '23.4', '44.7', '23.2', '22.1', '32.2',
       '19.1', '25.7', '21', '11.2', '17.3', '20.5', '26.7', '6.1',
       '14.8', '18.3', '29.1', '23.4', '14.5', '24.7', '8.7', '19.4',
       '16.8', '23.3', '26.2', '19.3', '17.4', '31.4', '17.2', '31',
       '22.6', '20.6', '15', '12.4', '22.3', '16.6', '13.1', '15.2',
       '11.3', '21.1', '32.9', '19.1', '20.4', '18.2', '18.4', '17.6',
       '26.3', '17.3', '22', '32', '40.4', '29.5', '22.5', '22.8', '26.8',
       '27.8', '34.1', '19.7', '15.8', '22.5', '25.4', '19.4', '27.1',
       '17', '22.9', '24.5', '26.2', '28.2', '18.7', '34.8', '23.1',
       '31.7', '25.7', '37.1', '…', '…', '…', '…', '…', '…', '…', '…',
       '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…',
       '…', '…', '…', '…', '36.8', '35.4', '30.1', '26.2', '21.6', '24.5',
       '24.5', '28.8', '22.3', '22.7', '20.7', '24.1', '20.7', '22.3',
       '26.3', '22.2', '21.6', '24.7', '28.5', '27.2', '30.5', '26.9',
       '30.3', '27.3', '32.7', '31.5', '24.9', '32.6', '30.7', '24.4',
       '16.8', '27.3', '34.4', '29.1', '24.4', '25', '20', '24.8', '22',
       '20.9', '12.7', '27', '31.2', '29.3', '13.2', '28', '29', '29.2',
       '36', '18.7'], dtype=object)

In [15]:
clean['길거리_쓰레기방치'].values

array(['45.2', '40.9', '36.7', '41.2', '32.6', '40.5', '51.8', '63',
       '40.3', '43.4', '26.2', '28.4', '37.9', '49.2', '29.8', '40',
       '31.2', '49.3', '39.4', '23', '20.9', '18.5', '26.1', '27.1',
       '28.4', '49.8', '24.8', '52.7', '60.8', '39.7', '29.9', '35.3',
       '44.4', '45.9', '29.6', '28.8', '46.8', '43.1', '39.6', '19',
       '22.5', '35.6', '32.3', '54', '25.6', '44', '26.9', '18.7', '20.8',
       '32.7', '25.8', '19.5', '27', '41.7', '24.7', '30.1', '30.1',
       '35.8', '30.5', '50.9', '27', '33.8', '39.9', '30.6', '31', '35.2',
       '48.4', '42.9', '32.8', '29.7', '32.9', '31.5', '24.8', '26.1',
       '26.5', '47.8', '46.8', '34', '34', '36.4', '43.3', '38', '49.9',
       '45.2', '20', '39.8', '47.5', '51.9', '40.5', '28.6', '38.9',
       '47.7', '51.6', '46.9', '34.9', '40.2', '36.7', '30.3', '31.5',
       '48.6', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…',
       '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…', '…',
       '51.5', '45.6', '31', '39.6', '38.3', '39.2', '41', '45', '37.6',
       '38.7', '36.4', '38', '49.7', '46.6', '39.7', '42.2', '42.4', '49',
       '46.3', '37.9', '36.6', '34.9', '29.3', '34.7', '42.7', '48',
       '37.8', '42.4', '37.2', '45.2', '36.9', '47.2', '44.7', '34.9',
       '34.3', '36.9', '42.3', '44.3', '38.4', '45', '33.3', '35.6',
       '44.7', '44.9', '31.8', '38.8', '34.9', '36.9', '40.5', '31.7'],
      dtype=object)

In [5]:
clean[clean['대기오염'].isin(['…'])]

       기간   자치구 대기오염 수질오염 길거리_쓰레기방치
100  2015   종로구    …    …         …
101  2015    중구    …    …         …
102  2015   용산구    …    …         …
103  2015   성동구    …    …         …
104  2015   광진구    …    …         …
105  2015  동대문구    …    …         …
106  2015   중랑구    …    …         …
107  2015   성북구    …    …         …
108  2015   강북구    …    …         …
109  2015   도봉구    …    …         …
110  2015   노원구    …    …         …
111  2015   은평구    …    …         …
112  2015  서대문구    …    …         …
113  2015   마포구    …    …         …
114  2015   양천구    …    …         …
115  2015   강서구    …    …         …
116  2015   구로구    …    …         …
117  2015   금천구    …    …         …
118  2015  영등포구    …    …         …
119  2015   동작구    …    …         …
120  2015   관악구    …    …         …
121  2015   서초구    …    …         …
122  2015   강남구    …    …         …
123  2015   송파구    …    …         …
124  2015   강동구    …    …         …

In [16]:
clean[clean['수질오염'].isin(['…'])]

       기간   자치구 대기오염 수질오염 길거리_쓰레기방치
100  2015   종로구    …    …         …
101  2015    중구    …    …         …
102  2015   용산구    …    …         …
103  2015   성동구    …    …         …
104  2015   광진구    …    …         …
105  2015  동대문구    …    …         …
106  2015   중랑구    …    …         …
107  2015   성북구    …    …         …
108  2015   강북구    …    …         …
109  2015   도봉구    …    …         …
110  2015   노원구    …    …         …
111  2015   은평구    …    …         …
112  2015  서대문구    …    …         …
113  2015   마포구    …    …         …
114  2015   양천구    …    …         …
115  2015   강서구    …    …         …
116  2015   구로구    …    …         …
117  2015   금천구    …    …         …
118  2015  영등포구    …    …         …
119  2015   동작구    …    …         …
120  2015   관악구    …    …         …
121  2015   서초구    …    …         …
122  2015   강남구    …    …         …
123  2015   송파구    …    …         …
124  2015   강동구    …    …         …

In [17]:
clean[clean['길거리_쓰레기방치'].isin(['…'])]

       기간   자치구 대기오염 수질오염 길거리_쓰레기방치
100  2015   종로구    …    …         …
101  2015    중구    …    …         …
102  2015   용산구    …    …         …
103  2015   성동구    …    …         …
104  2015   광진구    …    …         …
105  2015  동대문구    …    …         …
106  2015   중랑구    …    …         …
107  2015   성북구    …    …         …
108  2015   강북구    …    …         …
109  2015   도봉구    …    …         …
110  2015   노원구    …    …         …
111  2015   은평구    …    …         …
112  2015  서대문구    …    …         …
113  2015   마포구    …    …         …
114  2015   양천구    …    …         …
115  2015   강서구    …    …         …
116  2015   구로구    …    …         …
117  2015   금천구    …    …         …
118  2015  영등포구    …    …         …
119  2015   동작구    …    …         …
120  2015   관악구    …    …         …
121  2015   서초구    …    …         …
122  2015   강남구    …    …         …
123  2015   송파구    …    …         …
124  2015   강동구    …    …         …

In [18]:
clean = clean.astype({'대기오염':float, '수질오염':float, '길거리_쓰레기방치':float})
clean

# ValueError: could not convert string to float: '…'

       기간  자치구  대기오염  수질오염  길거리_쓰레기방치
0    2011  종로구  22.2  29.3       45.2
1    2011   중구  24.8  20.4       40.9
2    2011  용산구  34.5  26.3       36.7
3    2011  성동구  32.5  29.9       41.2
4    2011  광진구  25.4  12.9       32.6
..    ...  ...   ...   ...        ...
145  2017  관악구  30.6  28.0       38.8
146  2017  서초구  40.9  29.0       34.9
147  2017  강남구  43.5  29.2       36.9
148  2017  송파구  40.9  36.0       40.5
149  2017  강동구  26.4  18.7       31.7

[150 rows x 5 columns]

In [21]:
clean.describe()

             대기오염        수질오염   길거리_쓰레기방치
count  150.000000  150.000000  150.000000
mean    30.398000   23.733333   37.580000
std      7.759588    7.203697    8.832164
min      9.700000    6.100000   18.500000
25%     25.425000   19.100000   31.050000
50%     30.400000   23.400000   37.900000
75%     35.750000   28.425000   44.375000
max     48.600000   44.900000   63.000000

In [7]:
clean.info()

# null 및 dtype 확인 가능

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기간         175 non-null    object
 1   자치구        175 non-null    object
 2   대기오염       175 non-null    object
 3   수질오염       175 non-null    object
 4   길거리_쓰레기방치  175 non-null    object
dtypes: object(5)
memory usage: 7.0+ KB

In [13]:
clean.isna()

        기간    자치구   대기오염   수질오염  길거리_쓰레기방치
0    False  False  False  False      False
1    False  False  False  False      False
2    False  False  False  False      False
3    False  False  False  False      False
4    False  False  False  False      False
..     ...    ...    ...    ...        ...
170  False  False  False  False      False
171  False  False  False  False      False
172  False  False  False  False      False
173  False  False  False  False      False
174  False  False  False  False      False

[175 rows x 5 columns]

In [14]:
clean.dropna()

       기간  자치구  대기오염  수질오염 길거리_쓰레기방치
0    2011  종로구  22.2  29.3      45.2
1    2011   중구  24.8  20.4      40.9
2    2011  용산구  34.5  26.3      36.7
3    2011  성동구  32.5  29.9      41.2
4    2011  광진구  25.4  12.9      32.6
..    ...  ...   ...   ...       ...
170  2017  관악구  30.6    28      38.8
171  2017  서초구  40.9    29      34.9
172  2017  강남구  43.5  29.2      36.9
173  2017  송파구  40.9    36      40.5
174  2017  강동구  26.4  18.7      31.7

[175 rows x 5 columns]

In [16]:
clean.fillna('-')

       기간  자치구  대기오염  수질오염 길거리_쓰레기방치
0    2011  종로구  22.2  29.3      45.2
1    2011   중구  24.8  20.4      40.9
2    2011  용산구  34.5  26.3      36.7
3    2011  성동구  32.5  29.9      41.2
4    2011  광진구  25.4  12.9      32.6
..    ...  ...   ...   ...       ...
170  2017  관악구  30.6    28      38.8
171  2017  서초구  40.9    29      34.9
172  2017  강남구  43.5  29.2      36.9
173  2017  송파구  40.9    36      40.5
174  2017  강동구  26.4  18.7      31.7

[175 rows x 5 columns]

In [18]:
clean[clean['자치구']=='중구']

       기간 자치구  대기오염  수질오염 길거리_쓰레기방치
1    2011  중구  24.8  20.4      40.9
26   2012  중구   9.7  26.2      24.8
51   2013  중구  24.3  19.3      19.5
76   2014  중구  40.9  40.4      46.8
101  2015  중구     …     …         …
126  2016  중구    36  35.4      45.6
151  2017  중구  35.8  24.9      37.8

In [19]:
clean[clean['자치구']=='종로구']

       기간  자치구  대기오염  수질오염 길거리_쓰레기방치
0    2011  종로구  22.2  29.3      45.2
25   2012  종로구  45.3  42.2      49.8
50   2013  종로구  27.3  26.2      25.8
75   2014  종로구  36.5    32      47.8
100  2015  종로구     …     …         …
125  2016  종로구  41.2  36.8      51.5
150  2017  종로구  36.6  31.5        48

In [ ]:
# 년도별 추이를 살펴보면 점진적인 모습을 보기가 어렵다. 
# 컬럼별로 급변하는 부분도 있고 자치구들의 공통적인 특징도 찾기 어렵다.
# 11 ~ 17년도(15년 제외) 자치구별 평균을 내는 것이 최신년도만 보는 것보다 더 적합하다고 생각한다.

In [30]:
clean.sort_values(by=['자치구','기간']).head(50)

       기간  자치구  대기오염  수질오염  길거리_쓰레기방치
22   2011  강남구  31.6  23.9       26.1
47   2012  강남구  19.9  19.4       18.7
72   2013  강남구  30.9  26.3       24.8
97   2014  강남구  38.6  31.7       30.3
122  2016  강남구  40.5  30.3       29.3
147  2017  강남구  43.5  29.2       36.9
24   2011  강동구  28.6  20.7       28.4
49   2012  강동구  17.9  23.3       32.7
74   2013  강동구  26.4  22.0       26.5
99   2014  강동구  45.9  37.1       48.6
124  2016  강동구  40.5  32.7       42.7
149  2017  강동구  26.4  18.7       31.7
8    2011  강북구  22.3  12.6       40.3
33   2012  강북구  32.8  25.7       45.9
58   2013  강북구  20.9  15.0       30.5
83   2014  강북구  27.5  19.7       45.2
108  2016  강북구  30.6  22.3       37.6
133  2017  강북구  31.8  29.1       34.9
15   2011  강서구  29.9  14.1       40.0
40   2012  강서구  19.5  14.8       22.5
65   2013  강서구  27.6  21.1       35.2
90   2014  강서구  35.6  22.9       38.9
115  2016  강서구  33.4  22.2       42.2
140  2017  강서구  28.3  12.7       33.3
20   2011  관악구  21.0  12.4       20.9
45   2012  관악구  36.3  24.7       44.0
70   2013  관악구  20.7  18.4       32.9
95   2014  관악구  34.6  34.8       40.2
120  2016  관악구  33.4  30.5       36.6
145  2017  관악구  30.6  28.0       38.8
4    2011  광진구  25.4  12.9       32.6
29   2012  광진구  41.7  23.2       39.7
54   2013  광진구  24.5  17.2       24.7
79   2014  광진구  19.7  22.8       36.4
104  2016  광진구  26.4  21.6       38.3
129  2017  광진구  34.1  24.4       45.2
16   2011  구로구  32.6  26.8       31.2
41   2012  구로구  37.9  18.3       35.6
66   2013  구로구  40.6  32.9       48.4
91   2014  구로구  31.5  24.5       47.7
116  2016  구로구  32.6  21.6       42.4
141  2017  구로구  26.8  27.0       35.6
17   2011  금천구  24.8  16.2       49.3
42   2012  금천구  27.7  29.1       32.3
67   2013  금천구  28.4  19.1       42.9
92   2014  금천구  34.2  26.2       51.6
117  2016  금천구  30.8  24.7       49.0
142  2017  금천구  36.0  31.2       44.7
10   2011  노원구  21.5  13.1       26.2
35   2012  노원구  15.1  11.2       28.8

In [31]:
clean.sort_values(by='자치구')

       기간  자치구  대기오염  수질오염  길거리_쓰레기방치
147  2017  강남구  43.5  29.2       36.9
122  2016  강남구  40.5  30.3       29.3
97   2014  강남구  38.6  31.7       30.3
72   2013  강남구  30.9  26.3       24.8
47   2012  강남구  19.9  19.4       18.7
..    ...  ...   ...   ...        ...
131  2017  중랑구  38.8  27.3       47.2
6    2011  중랑구  31.3  44.9       51.8
81   2014  중랑구  30.5  27.8       38.0
56   2013  중랑구  29.9  22.6       30.1
106  2016  중랑구  27.0  24.5       41.0

[150 rows x 5 columns]

# clean_평균값

In [32]:
clean['자치구'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [60]:
gu = clean['자치구'].unique()

air_mean=list()  # b1_mean=[]
water_mean=list()
trash_mean=list()

for i in range(len(gu)):  # python이 권장하지 않는 방식.
    a = gu[i]  # one of 자치구들, python이 권장하지 않는 방식.
    b = clean[clean['자치구']==a]  # 그 자치구에 해당하는 rows
    b1_mean = b['대기오염'].values.mean()  # np.array이므로 .mean() 가능
    b2_mean = b['수질오염'].values.mean()  # clean.columns[3]
    b3_mean = b['길거리_쓰레기방치'].values.mean()  # dtype('float64')
    air_mean.append(b1_mean)
    water_mean.append(b2_mean)
    trash_mean.append(b3_mean)
    
clean_mean = pd.DataFrame({'자치구':gu, '대기오염':air_mean, '수질오염':water_mean, '길거리_쓰레기방치':trash_mean})
clean_mean

# 'NoneType' object has no attribute 'append'
# air_mean = air_mean.append(b1_mean)하면 안되고, 그냥 air_mean.append(b1_mean)해줘야 함.
# You are not supposed to assign it to any variable, when you append something in the list, it updates automatically. use only:-
# if you assign this to a variable "last_list" again, it will no more be a list (will become a none type variable since you haven't declared the type for that) and append will become invalid in the next run.

# IndentationError: unexpected indent 
# for문 밑으로는 1단계 수준의 동일 tab line에 있어야 함.

     자치구       대기오염       수질오염  길거리_쓰레기방치
0    종로구  34.850000  33.000000  44.683333
1     중구  28.583333  27.766667  35.900000
2    용산구  33.466667  26.550000  37.300000
3    성동구  35.066667  30.900000  42.416667
4    광진구  28.633333  20.350000  36.150000
5   동대문구  33.300000  25.416667  36.650000
6    중랑구  32.733333  29.883333  40.566667
7    성북구  37.416667  28.900000  47.133333
8    강북구  27.650000  20.733333  39.066667
9    도봉구  23.266667  20.016667  36.150000
10   노원구  26.100000  19.133333  32.516667
11   은평구  23.766667  19.450000  39.466667
12  서대문구  26.216667  20.333333  44.466667
13   마포구  32.066667  22.083333  40.816667
14   양천구  26.033333  16.400000  32.183333
15   강서구  29.050000  17.966667  35.350000
16   구로구  33.666667  25.183333  40.150000
17   금천구  30.316667  24.416667  44.966667
18  영등포구  34.450000  26.833333  44.050000
19   동작구  25.783333  16.850000  30.483333
20   관악구  29.433333  24.800000  35.566667
21   서초구  31.383333  19.983333  30.566667
22   강남구  34.166667  26.800000  27.683333
23   송파구  31.600000  23.833333  30.116667
24   강동구  30.950000  25.750000  35.100000

In [62]:
gu = clean['자치구'].unique()  # gu 자체가 list로 나옴.

air_mean=list()  # b1_mean=[]
water_mean=list()
trash_mean=list()

for v in gu:  # list인 gu를 바로 넣어주기.. python이 권장하는 방식.
    a = clean[clean['자치구']==v]  # 그 자치구에 해당하는 rows
    a1_mean = a['대기오염'].values.mean()  # np.array이므로 .mean() 가능
    a2_mean = a['수질오염'].values.mean()  # clean.columns[3]
    a3_mean = a['길거리_쓰레기방치'].values.mean()  # dtype('float64')
    air_mean.append(a1_mean)
    water_mean.append(a2_mean)
    trash_mean.append(a3_mean)
    
clean_mean = pd.DataFrame({'자치구':gu, '대기오염':air_mean, '수질오염':water_mean, '길거리_쓰레기방치':trash_mean})
clean_mean

# air_mean = air_mean.append(b1_mean)하면 안되고, 그냥 air_mean.append(b1_mean)해줘야 함.
# You are not supposed to assign it to any variable, when you append something in the list, it updates automatically. use only:-
# if you assign this to a variable "last_list" again, it will no more be a list (will become a none type variable since you haven't declared the type for that) and append will become invalid in the next run.

     자치구       대기오염       수질오염  길거리_쓰레기방치
0    종로구  34.850000  33.000000  44.683333
1     중구  28.583333  27.766667  35.900000
2    용산구  33.466667  26.550000  37.300000
3    성동구  35.066667  30.900000  42.416667
4    광진구  28.633333  20.350000  36.150000
5   동대문구  33.300000  25.416667  36.650000
6    중랑구  32.733333  29.883333  40.566667
7    성북구  37.416667  28.900000  47.133333
8    강북구  27.650000  20.733333  39.066667
9    도봉구  23.266667  20.016667  36.150000
10   노원구  26.100000  19.133333  32.516667
11   은평구  23.766667  19.450000  39.466667
12  서대문구  26.216667  20.333333  44.466667
13   마포구  32.066667  22.083333  40.816667
14   양천구  26.033333  16.400000  32.183333
15   강서구  29.050000  17.966667  35.350000
16   구로구  33.666667  25.183333  40.150000
17   금천구  30.316667  24.416667  44.966667
18  영등포구  34.450000  26.833333  44.050000
19   동작구  25.783333  16.850000  30.483333
20   관악구  29.433333  24.800000  35.566667
21   서초구  31.383333  19.983333  30.566667
22   강남구  34.166667  26.800000  27.683333
23   송파구  31.600000  23.833333  30.116667
24   강동구  30.950000  25.750000  35.100000

In [40]:
clean['대기오염'].values.mean(), clean['대기오염'].values.mean().dtype

(30.398000000000003, dtype('float64'))

In [36]:
clean.columns[2]

'대기오염'

In [46]:
a

'종로구'

In [47]:
b

       기간  자치구  대기오염  수질오염  길거리_쓰레기방치
0    2011  종로구  22.2  29.3       45.2
25   2012  종로구  45.3  42.2       49.8
50   2013  종로구  27.3  26.2       25.8
75   2014  종로구  36.5  32.0       47.8
100  2016  종로구  41.2  36.8       51.5
125  2017  종로구  36.6  31.5       48.0

In [49]:
b1_mean, b1_mean.dtype

(34.85, dtype('float64'))

In [65]:
gu = clean['자치구'].unique()  # gu 자체가 list로 나옴.

air_mean=list()  # b1_mean=[]
water_mean=list()
trash_mean=list()

for v in gu:  # list인 gu를 바로 넣어주기.. python이 권장하는 방식.
    a = clean[clean['자치구']==v]  # 그 자치구에 해당하는 rows
    a1_mean = round(a['대기오염'].values.mean(), 2)  # round(), 소수점 3번째 자리에서 반올림. 소수점 2번째 자리까지 보이도록 함.
    a2_mean = round(a['수질오염'].values.mean(), 2)  
    a3_mean = round(a['길거리_쓰레기방치'].values.mean(), 2)  
    air_mean.append(a1_mean)
    water_mean.append(a2_mean)
    trash_mean.append(a3_mean)
    
clean_mean = pd.DataFrame({'자치구':gu, '대기오염':air_mean, '수질오염':water_mean, '길거리_쓰레기방치':trash_mean})
clean_mean

# air_mean = air_mean.append(b1_mean)하면 안되고, 그냥 air_mean.append(b1_mean)해줘야 함.
# You are not supposed to assign it to any variable, when you append something in the list, it updates automatically. use only:-
# if you assign this to a variable "last_list" again, it will no more be a list (will become a none type variable since you haven't declared the type for that) and append will become invalid in the next run.

     자치구   대기오염   수질오염  길거리_쓰레기방치
0    종로구  34.85  33.00      44.68
1     중구  28.58  27.77      35.90
2    용산구  33.47  26.55      37.30
3    성동구  35.07  30.90      42.42
4    광진구  28.63  20.35      36.15
5   동대문구  33.30  25.42      36.65
6    중랑구  32.73  29.88      40.57
7    성북구  37.42  28.90      47.13
8    강북구  27.65  20.73      39.07
9    도봉구  23.27  20.02      36.15
10   노원구  26.10  19.13      32.52
11   은평구  23.77  19.45      39.47
12  서대문구  26.22  20.33      44.47
13   마포구  32.07  22.08      40.82
14   양천구  26.03  16.40      32.18
15   강서구  29.05  17.97      35.35
16   구로구  33.67  25.18      40.15
17   금천구  30.32  24.42      44.97
18  영등포구  34.45  26.83      44.05
19   동작구  25.78  16.85      30.48
20   관악구  29.43  24.80      35.57
21   서초구  31.38  19.98      30.57
22   강남구  34.17  26.80      27.68
23   송파구  31.60  23.83      30.12
24   강동구  30.95  25.75      35.10

In [66]:
gu = clean['자치구'].unique()  # gu 자체가 list로 나옴.

air_mean=list()  # b1_mean=[]
water_mean=list()
trash_mean=list()

for v in gu:  # list인 gu를 바로 넣어주기.. python이 권장하는 방식.
    a = clean[clean['자치구']==v]  # 그 자치구에 해당하는 rows
    a1_mean = round(a['대기오염'].mean(), 2)  # round(), 소수점 3번째 자리에서 반올림. 소수점 2번째 자리까지 보이도록 함.
    a2_mean = round(a['수질오염'].mean(), 2)  # a['수질오염'].values.mean() 이렇게 말고 pandas에서 자체 지원하는 function을 바로 써주면 됨.
    a3_mean = round(a['길거리_쓰레기방치'].mean(), 2)  
    air_mean.append(a1_mean)
    water_mean.append(a2_mean)
    trash_mean.append(a3_mean)
    
clean_mean = pd.DataFrame({'자치구':gu, '대기오염':air_mean, '수질오염':water_mean, '길거리_쓰레기방치':trash_mean})
clean_mean

# air_mean = air_mean.append(b1_mean)하면 안되고, 그냥 air_mean.append(b1_mean)해줘야 함.
# You are not supposed to assign it to any variable, when you append something in the list, it updates automatically. use only:-
# if you assign this to a variable "last_list" again, it will no more be a list (will become a none type variable since you haven't declared the type for that) and append will become invalid in the next run.

     자치구   대기오염   수질오염  길거리_쓰레기방치
0    종로구  34.85  33.00      44.68
1     중구  28.58  27.77      35.90
2    용산구  33.47  26.55      37.30
3    성동구  35.07  30.90      42.42
4    광진구  28.63  20.35      36.15
5   동대문구  33.30  25.42      36.65
6    중랑구  32.73  29.88      40.57
7    성북구  37.42  28.90      47.13
8    강북구  27.65  20.73      39.07
9    도봉구  23.27  20.02      36.15
10   노원구  26.10  19.13      32.52
11   은평구  23.77  19.45      39.47
12  서대문구  26.22  20.33      44.47
13   마포구  32.07  22.08      40.82
14   양천구  26.03  16.40      32.18
15   강서구  29.05  17.97      35.35
16   구로구  33.67  25.18      40.15
17   금천구  30.32  24.42      44.97
18  영등포구  34.45  26.83      44.05
19   동작구  25.78  16.85      30.48
20   관악구  29.43  24.80      35.57
21   서초구  31.38  19.98      30.57
22   강남구  34.17  26.80      27.68
23   송파구  31.60  23.83      30.12
24   강동구  30.95  25.75      35.10

In [70]:
clean['대기오염'].sum(), clean['대기오염'].mean(), clean['대기오염'].median(), clean['대기오염'].min(), clean['대기오염'].max()

# pandas에서 바로 지원하는 function

(4559.700000000001, 30.398, 30.4, 9.7, 48.6)

In [72]:
clean.groupby('자치구').mean()
# groupby해서도 가능함.

           대기오염       수질오염  길거리_쓰레기방치
자치구
강남구   34.166667  26.800000  27.683333
강동구   30.950000  25.750000  35.100000
강북구   27.650000  20.733333  39.066667
강서구   29.050000  17.966667  35.350000
관악구   29.433333  24.800000  35.566667
광진구   28.633333  20.350000  36.150000
구로구   33.666667  25.183333  40.150000
금천구   30.316667  24.416667  44.966667
노원구   26.100000  19.133333  32.516667
도봉구   23.266667  20.016667  36.150000
동대문구  33.300000  25.416667  36.650000
동작구   25.783333  16.850000  30.483333
마포구   32.066667  22.083333  40.816667
서대문구  26.216667  20.333333  44.466667
서초구   31.383333  19.983333  30.566667
성동구   35.066667  30.900000  42.416667
성북구   37.416667  28.900000  47.133333
송파구   31.600000  23.833333  30.116667
양천구   26.033333  16.400000  32.183333
영등포구  34.450000  26.833333  44.050000
용산구   33.466667  26.550000  37.300000
은평구   23.766667  19.450000  39.466667
종로구   34.850000  33.000000  44.683333
중구    28.583333  27.766667  35.900000
중랑구   32.733333  29.883333  40.566667

In [73]:
clean.groupby('자치구').sum()

       대기오염   수질오염  길거리_쓰레기방치
자치구
강남구   205.0  160.8      166.1
강동구   185.7  154.5      210.6
강북구   165.9  124.4      234.4
강서구   174.3  107.8      212.1
관악구   176.6  148.8      213.4
광진구   171.8  122.1      216.9
구로구   202.0  151.1      240.9
금천구   181.9  146.5      269.8
노원구   156.6  114.8      195.1
도봉구   139.6  120.1      216.9
동대문구  199.8  152.5      219.9
동작구   154.7  101.1      182.9
마포구   192.4  132.5      244.9
서대문구  157.3  122.0      266.8
서초구   188.3  119.9      183.4
성동구   210.4  185.4      254.5
성북구   224.5  173.4      282.8
송파구   189.6  143.0      180.7
양천구   156.2   98.4      193.1
영등포구  206.7  161.0      264.3
용산구   200.8  159.3      223.8
은평구   142.6  116.7      236.8
종로구   209.1  198.0      268.1
중구    171.5  166.6      215.4
중랑구   196.4  179.3      243.4

In [76]:
df_clean = clean.groupby('자치구').mean()

df_clean.reset_index(level=['자치구'], inplace = True)  # df_clean.reset_index(level=0, inplace = True)
# 옵션, level=컬럼 이름 or 위치값
# levelint, level name, or sequence of such, default None
# If the axis is a MultiIndex (hierarchical), group by a particular level or levels.

df_clean

     자치구       대기오염       수질오염  길거리_쓰레기방치
0    강남구  34.166667  26.800000  27.683333
1    강동구  30.950000  25.750000  35.100000
2    강북구  27.650000  20.733333  39.066667
3    강서구  29.050000  17.966667  35.350000
4    관악구  29.433333  24.800000  35.566667
5    광진구  28.633333  20.350000  36.150000
6    구로구  33.666667  25.183333  40.150000
7    금천구  30.316667  24.416667  44.966667
8    노원구  26.100000  19.133333  32.516667
9    도봉구  23.266667  20.016667  36.150000
10  동대문구  33.300000  25.416667  36.650000
11   동작구  25.783333  16.850000  30.483333
12   마포구  32.066667  22.083333  40.816667
13  서대문구  26.216667  20.333333  44.466667
14   서초구  31.383333  19.983333  30.566667
15   성동구  35.066667  30.900000  42.416667
16   성북구  37.416667  28.900000  47.133333
17   송파구  31.600000  23.833333  30.116667
18   양천구  26.033333  16.400000  32.183333
19  영등포구  34.450000  26.833333  44.050000
20   용산구  33.466667  26.550000  37.300000
21   은평구  23.766667  19.450000  39.466667
22   종로구  34.850000  33.000000  44.683333
23    중구  28.583333  27.766667  35.900000
24   중랑구  32.733333  29.883333  40.566667

In [106]:
clean.set_index(['자치구','대기오염']).groupby(level=[0,1]).mean()
# set_index로 index를 특정 컬럼으로 미리 지정하고
# groupby 옵션에서 by='자치구' or level=[0,1] 등으로 설정하면 됨.

          수질오염  길거리_쓰레기방치
자치구 대기오염
강남구 19.9  19.4       18.7
    30.9  26.3       24.8
    31.6  23.9       26.1
    38.6  31.7       30.3
    40.5  30.3       29.3
...        ...        ...
중랑구 29.9  22.6       30.1
    30.5  27.8       38.0
    31.3  44.9       51.8
    38.8  27.3       47.2
    38.9  32.2       35.3

[147 rows x 2 columns]

In [96]:
clean.groupby(['자치구']).mean()

           대기오염       수질오염  길거리_쓰레기방치
자치구
강남구   34.166667  26.800000  27.683333
강동구   30.950000  25.750000  35.100000
강북구   27.650000  20.733333  39.066667
강서구   29.050000  17.966667  35.350000
관악구   29.433333  24.800000  35.566667
광진구   28.633333  20.350000  36.150000
구로구   33.666667  25.183333  40.150000
금천구   30.316667  24.416667  44.966667
노원구   26.100000  19.133333  32.516667
도봉구   23.266667  20.016667  36.150000
동대문구  33.300000  25.416667  36.650000
동작구   25.783333  16.850000  30.483333
마포구   32.066667  22.083333  40.816667
서대문구  26.216667  20.333333  44.466667
서초구   31.383333  19.983333  30.566667
성동구   35.066667  30.900000  42.416667
성북구   37.416667  28.900000  47.133333
송파구   31.600000  23.833333  30.116667
양천구   26.033333  16.400000  32.183333
영등포구  34.450000  26.833333  44.050000
용산구   33.466667  26.550000  37.300000
은평구   23.766667  19.450000  39.466667
종로구   34.850000  33.000000  44.683333
중구    28.583333  27.766667  35.900000
중랑구   32.733333  29.883333  40.566667

# concat_dataset

In [77]:
cctv

     자치구  cctv_쓰레기
0    강남구         0
1    강동구        27
2    강북구         0
3    강서구        28
4    관악구       130
5    광진구        72
6    구로구        29
7    금천구        32
8    노원구       126
9    도봉구        61
10  동대문구        19
11   동작구         0
12   마포구         0
13  서대문구         0
14   서초구         0
15   성동구        77
16   성북구       106
17   송파구        19
18   양천구         8
19  영등포구        49
20   용산구         0
21   은평구         3
22   종로구         0
23    중구        60
24   중랑구         9

In [78]:
clean_mean

     자치구   대기오염   수질오염  길거리_쓰레기방치
0    종로구  34.85  33.00      44.68
1     중구  28.58  27.77      35.90
2    용산구  33.47  26.55      37.30
3    성동구  35.07  30.90      42.42
4    광진구  28.63  20.35      36.15
5   동대문구  33.30  25.42      36.65
6    중랑구  32.73  29.88      40.57
7    성북구  37.42  28.90      47.13
8    강북구  27.65  20.73      39.07
9    도봉구  23.27  20.02      36.15
10   노원구  26.10  19.13      32.52
11   은평구  23.77  19.45      39.47
12  서대문구  26.22  20.33      44.47
13   마포구  32.07  22.08      40.82
14   양천구  26.03  16.40      32.18
15   강서구  29.05  17.97      35.35
16   구로구  33.67  25.18      40.15
17   금천구  30.32  24.42      44.97
18  영등포구  34.45  26.83      44.05
19   동작구  25.78  16.85      30.48
20   관악구  29.43  24.80      35.57
21   서초구  31.38  19.98      30.57
22   강남구  34.17  26.80      27.68
23   송파구  31.60  23.83      30.12
24   강동구  30.95  25.75      35.10

In [84]:
cleanliness = pd.merge(cctv, clean_mean, on='자치구', how='left')
cleanliness

     자치구  cctv_쓰레기   대기오염   수질오염  길거리_쓰레기방치
0    강남구         0  34.17  26.80      27.68
1    강동구        27  30.95  25.75      35.10
2    강북구         0  27.65  20.73      39.07
3    강서구        28  29.05  17.97      35.35
4    관악구       130  29.43  24.80      35.57
5    광진구        72  28.63  20.35      36.15
6    구로구        29  33.67  25.18      40.15
7    금천구        32  30.32  24.42      44.97
8    노원구       126  26.10  19.13      32.52
9    도봉구        61  23.27  20.02      36.15
10  동대문구        19  33.30  25.42      36.65
11   동작구         0  25.78  16.85      30.48
12   마포구         0  32.07  22.08      40.82
13  서대문구         0  26.22  20.33      44.47
14   서초구         0  31.38  19.98      30.57
15   성동구        77  35.07  30.90      42.42
16   성북구       106  37.42  28.90      47.13
17   송파구        19  31.60  23.83      30.12
18   양천구         8  26.03  16.40      32.18
19  영등포구        49  34.45  26.83      44.05
20   용산구         0  33.47  26.55      37.30
21   은평구         3  23.77  19.45      39.47
22   종로구         0  34.85  33.00      44.68
23    중구        60  28.58  27.77      35.90
24   중랑구         9  32.73  29.88      40.57

In [85]:
cleanliness.describe()

         cctv_쓰레기       대기오염       수질오염  길거리_쓰레기방치
count   25.000000  25.000000  25.000000  25.000000
mean    34.200000  30.398400  23.732800  37.580800
std     40.753323   3.812975   4.528266   5.290763
min      0.000000  23.270000  16.400000  27.680000
25%      0.000000  27.650000  20.020000  35.100000
50%     19.000000  30.950000  24.420000  36.650000
75%     60.000000  33.470000  26.800000  40.820000
max    130.000000  37.420000  33.000000  47.130000

In [86]:
cleanliness.sum()

자치구          강남구강동구강북구강서구관악구광진구구로구금천구노원구도봉구동대문구동작구마포구서대문구서초...
cctv_쓰레기                                                   855
대기오염                                                    759.96
수질오염                                                    593.32
길거리_쓰레기방치                                               939.52
dtype: object

In [114]:
cleanliness.to_csv('dataset_cleanliness.csv')